 /* Menu Aba */
 .abaMenu{
  box-shadow: 0 -1px #918c8c33, 0 1px #918c8c33;
  padding: .3rem;
 }

 /* Munu wrapper */
 .menuWrapper{
   border-bottom-left-radius: .8rem;
   background-color: #EEF2F3;
   z-index: 2024;
 }

 .btnMobile{
   box-shadow: 0 0 0 2px #403E3E;
   color:#403E3E
 }